.formContact {
  width: 1200px;
  margin: 15px 15px 0 15px;
  text-align: left;
  color: white;
}

.formContact:hover,
.formContact:focus,
.formContact:active {
  font-weight: 700;
}

.labelContact {
  margin: 5px 15px 5px 15px;
}

.inputContact {
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px 5px;
  width: 180px;
}

.inputContact:hover {
  transform: scale(200%);
}

.button {
  display: block;
  margin: 50px 250px 20px;
  width: 200px;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: rgb(99, 99, 218);
  border: transparent;
  border-radius: 5px;
}

.button:hover,
.button:active,
.button:focus {
  font-weight: 700;
  box-shadow: 10px 5px 5px grey;
  transform: scale(120%);
}